<div>
  <strong style="align-content: center;">Olá, {{ student }}!</strong>

  <p style="justify-content: first baseline;">
  Obrigado por fazer parte da Gympoint. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e fitness. Com a nossa experiência, profissionais dedicados e localizados na melhor região do bairro, sabemos que poderemos apoiá-lo na sua caminhada.
  Para obter o máximo da nossa academia, por favor, siga-nos em nossa conta do Facebook em http://www.facebook.com/Gympoint.
  Você também irá receber de nós, informativos, ótimos conteúdos e promoções imperdíveis então, não deixe de adicionar o nosso email aos seus contatos e consultar sua caixa de email regularmente.
  Estamos muito animados em tê-lo conosco.

  Obrigado mais uma vez pela sua inscrição e bem vindo ao nosso time!
  <br />
  informações importantes da sua matrícuala:
  </p>
  <br /><strong>Plano: </strong> {{ plan_title }}
  <br /><strong>Date de termino: </strong> {{ end_date }}
  <br /><strong>Valor total: R$</strong> {{ price }},00
  <br />
</div>
